{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re - Wears | Homepage</title>
  <link rel="stylesheet" href="{%  static 'style/style.css' %}">
</head>

<body>
  {% include '../components/mainheader.html' %}

  <div class="form_main">
    <div class="form_inner">
      <div class="form_head">
        <h3>
          Sell without fees.
          <br>
          Embrace sustainable fashion.
        </h3>
        <div class="form_options">
          <a href="{% url 'login' %}" class="option selected">
            log in
          </a>
          <a href="{% url 'signup' %}" class="option ">
            Register
          </a>
        </div>
      </div>
      <form class="form_content" method="post">
        {% csrf_token %}

        <p class="centered">
          or Log In with your Email
        </p>

        <div class="input_div">
          <label for="">Email *</label>
          {{ form.email }}
          {{ form.email.errors }}

        </div>
        <div class="input_div">
          <label for="">Password *</label>
          {{ form.password }}
          {{ form.password.errors }}

        </div>
        <div class="input_div">
          <input type="submit" class="submit_btn" value="Log in">
        </div>

      </form>
    </div>
  </div>

  {% include '../components/mainfooter.html' %}

</body>

</html>