{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re - Wears | Homepage</title>
  <link rel="stylesheet" href="{%  static 'style/style.css' %}">
</head>

<body>

  {% include '../components/mainheader.html' %}

  <div class="form_main">
    <style>
      .form_main .form_inner {
        max-width: 550px;
        width: 100%;
        padding: 20px;
        margin-bottom: 50px;
        box-shadow: 2px 31px 50px #e0e0e0;
        border-radius: 21px;
      }
    </style>

    <div class="form_inner verification_inner">
      <div class="form_head">
        <h3>
          Password reset sent

        </h3>

      </div>




      <p>*We’ve emailed you instructions for setting your password, if an
        account exists with the email you entered. You should receive them shortly.</p>


      <p class="email-notice" style="color: #797979;">
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your
        spam folder.


      </p>


    </div>
  </div>



  {% include '../components/mainfooter.html' %}

</body>

</html>