{% load static %}
{% load last_seen %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re - Wears | Public Profile</title>
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" href="{% static 'style/user.css' %}">
  <link rel="stylesheet" href="{% static 'style/fonts.css' %}">
</head>

<body class="user">
  {% include '../components/mainheader.html' %}

  <div class="bg_light">
    <div class="profile_banner">
      <div class="topp">
        <div class="name_div">

          <div class="profile_pic">
            {% if profile_user.photo %}
            <img src="{{ profile_user.photo.url }}" id="userPhoto" alt="user photo">
            {% else %}
            <p>{{ profile_user.first_name|default:profile_user.user.username|slice:":1" }}</p>
            {% endif %}
          </div>

          <div class="details">
            <div class="username">@{{ profile_user.user.username }}</div>

            <div class="reviews">
              <div class="star-rating">
                <div class="filled-stars" style="width: {{ profile_user|average_rating_percentage }}%">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="empty-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>

              <p>{{ profile_user |reviews_count }} Reviews</p>
            </div>



            <div class="pop">
              <div class="followers">
                <div class="count followersCount">
                  {{profile_user.followers_count}}
                </div>
                <p>
                  Followers
                </p>
              </div>
              <div class="followers">
                <div class="count followingCount">
                  {{profile_user.following_count}}
                </div>
                <p>
                  Following
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="details_div">
          <div class="about">
            <h4>About</h4>
            <div class="address">
              <img src="{% static 'images/icons/location.svg' %}" alt="location">
              <p>{{ profile_user.location }}</p>
            </div>
            <div class="lastseen">
              <img src="{% static 'images/icons/lastseen.svg' %}" alt="lastseen">
              <p>


                Last seen {{ profile_user.last_seen|time_since_last_seen }}

              </p>

            </div>
          </div>
          <div class="verification">
            <h4><span>Verified info</span>
              <img src="{% static 'images/icons/verified_info.svg' %}" alt="lastseen">
            </h4>
            <div class="email">
              <img src="{% static 'images/icons/tick.svg' %}" alt="lastseen">
              <p>Email</p>
            </div>
          </div>

        </div>



        <style>
          .profile_banner .details_div {
            width: 65%;
          }
        </style>
      </div>
      <div class="bott">
        <div class="bott">
          <h3>
            About Me
          </h3>
          {% if profile_user.userprofile.about %}

          <p>{{ profile_user.userprofile.about }}</p>
          {% else %}
          <p>Nothing to say...</p>
          {% endif %}
        </div>
      </div>







    </div>

    <div class="dashboard_items">
      <div class="top">
        <a href="{% url 'UserProfileView' profile_user.user.id  %}">Closet</a>
        <a href="{% url 'public_reviews' profile_user.user.username %}" class="active">Reviews</a>

      </div>
      <style>
        .star-rating input {
          display: none;
        }

        .star-rating label {
          font-size: 2em;
          color: #ddd;
          cursor: pointer;
        }

        .star-rating input:checked~label {
          color: #f7b400;
          /* Filled star color */
        }

        .star-rating label:hover,
        .star-rating label:hover~label {
          color: #f7b400;
          /* Hovered star color */
        }

        i.fa-star.checked {
          color: #f7b400;
        }
      </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      {% if reviews.exists %}

      <div class="reviews_area">
        {% for review in reviews %}
        <div class="review_div">
          <div class="left">
            <a href="#" class="product">
              <img src="{{review.order.product.images.first.image.url }}" alt="">
            </a>
            <div class="review_comment">
              <div class="stars">
                {% for i in "12345" %}
                {% if forloop.counter <= review.rating %}
                <i class="fa-solid fa-star checked"></i> <!-- Filled star -->
                {% else %}
                <i class="fa-regular fa-star"></i>
                {% endif %}
                {% endfor %}
              </div>

              <div class="info">
                <h4>
                  By <a href="{% url 'UserProfileView' review.buyer.id  %}"> <strong>
                      {{ review.buyer.user }}</strong></a>
                </h4>
                <p>{{ review.comment }}</p>
              </div>

            </div>

          </div>
          <div class="right">
            <p><small>Reviewed on <span
                  style="text-transform: capitalize;">{{ review.created_at|date:"b. d, Y" }}</span></small></p>
          </div>
        </div>
        {% endfor %}


      </div>

      {% else %}
      <p>No reviews yet. Be the first to leave a review!</p>
      {% endif %}






    </div>
  </div>

  {% include '../components/mainfooter.html' %}
</body>

</html>