{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re - Wears | Public Profile</title>
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" href="{% static 'style/user.css' %}">
  <link rel="stylesheet" href="{% static 'style/fonts.css' %}">
</head>

<body class="user">
  {% include '../components/mainheader.html' %}

  <div class="bg_light">
    <div class="profile_banner">
      <div class="name_div">
        <div class="profile_pic">
          <p>{{ user_profile.first_name|default:user_profile.username|slice:":1" }}</p>
        </div>
        <div class="details">
          <div class="username">@{{ user_profile.username }}</div>
          <div class="reviews">{{ reviews.count }} reviews</div>
          <!-- Other profile info here -->
        </div>
      </div>
      <div class="details_div">
        <div class="about">
          <h4>About</h4>
          <div class="address">
            <img src="{% static 'images/icons/location.svg' %}" alt="location">
            <p>Colonian Beach, VA, United States</p>
          </div>
          <div class="lastseen">
            <img src="{% static 'images/icons/lastseen.svg' %}" alt="lastseen">
            <p>Last seen 10 hours ago</p>
          </div>
        </div>
        <div class="verification">
          <h4><span>Verified info</span>
            <img src="{% static 'images/icons/verified_info.svg' %}" alt="lastseen">
          </h4>
          <div class="email">
            <img src="{% static 'images/icons/tick.svg' %}" alt="lastseen">
            <p>Email</p>
          </div>
        </div>
      </div>

      <!-- Hide Edit Profile button if viewing another user's profile -->
      {% if request.user == user_profile %}
      <div class="btnDiv">
        <a href="#" class="outline_btn">
          <img src="{% static 'images/icons/pencil.svg' %}" alt="lastseen">
          <span>Edit Profile</span>
        </a>
      </div>

      {% else %}

      <style>
        .profile_banner .details_div {
          width: 65%;
        }
      </style>
      {% endif %}
    </div>

    <div class="dashboard_items">
      <div class="top">
        <a href="{% url 'userdashboardIndex' %}">Closet</a>
        <a href="{% url 'reviews_list' %}" class="active">Reviews</a>
        <a href="{% url 'manage_orders' %}">Manage Orders</a>

      </div>
      <style>
        .star-rating {
          direction: rtl;
          display: inline-block;
        }

        .star-rating input {
          display: none;
        }

        .star-rating label {
          font-size: 2em;
          color: #ddd;
          cursor: pointer;
        }

        .star-rating input:checked~label {
          color: #f7b400;
          /* Filled star color */
        }

        .star-rating label:hover,
        .star-rating label:hover~label {
          color: #f7b400;
          /* Hovered star color */
        }

        i.fa-star.checked {
          color: #f7b400;
        }
      </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      {% if reviews.exists %}

      <div class="reviews_area">
        {% for review in reviews %}
        <div class="review_div">
          <div class="left">
            <a href="#" class="product">
              <img src="{{review.order.product.images.first.image.url }}" alt="">
            </a>
            <div class="review_comment">
              <div class="stars">
                {% for i in "12345" %}
                {% if forloop.counter <= review.rating %}
                <i class="fa-solid fa-star checked"></i> <!-- Filled star -->
                {% else %}
                <i class="fa-regular fa-star"></i>
                {% endif %}
                {% endfor %}
              </div>

              <div class="info">
                <h4>
                  By <a href="#"> <strong> {{ review.buyer.first_name }} {{ review.buyer.last_name }}</strong></a>
                </h4>
                <p>{{ review.comment }}</p>
              </div>

            </div>

          </div>
          <div class="right">
            <p><small>Reviewed on <span
                  style="text-transform: capitalize;">{{ review.created_at|date:"b. d, Y" }}</span></small></p>
          </div>
        </div>
        {% endfor %}


      </div>

      {% else %}
      <p>No reviews yet. Be the first to leave a review!</p>
      {% endif %}






    </div>
  </div>

  {% include '../components/mainfooter.html' %}
</body>

</html>